name: deploy-test-pypi

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  unit-test-pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[tests]"
          pip install ruff

      - name: Run tests
        run: |
          pytest

      - name: Run style checks
        run: |
          ruff check src tests

  build-deploy:
    needs: unit-test-pytest
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
          pip install hatch

      - name: Build package
        run: hatch build

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
